.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #fbf2d5;
}

a {
  color: #fdc57b;
}

.App-header {
  text-align: center;
  font-size: large;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
